<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/screen.css"></link>
	<meta charset="UTF-8">
	<meta name="description" content="Your pocket guide to Markdown.">
	<meta name="keywords" content="markdown,syntax,guide">
	<meta name="author" content="Sean Ahern">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} | {% endif %}Markdown Guide</title>
</head>
<body>
	<main>
	  {% include navigation.html %}
	  <section>
	  	{{content}}
	  </section>
	  {% include footer.html %}
 	</main>
</body>
</html>
